#standard gitignore for Flightphase addons

#xcode files
*.mode*
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata/

#builds
build/
obj/
*.o
*.app
*/x64/

#codeblocks files
apps/*/*/*.layout
apps/*/*/*.depend
apps/*/*/bin/clickToLaunch*
apps/*/*/bin/libs
apps/*/*/obj
example-*/*build_log.html
example-*/example-*.layout
example-*/example-*.depend

#VCPP files

*.dll
*.lib
*.exe
*.sdf
*.opensdf
*.exp
*.suo
*.ilk
*.pdb
*.suo

ipch/

#mac files
.DS_Store

#linux files
*modex.so
*modexp64.so
*/*/*.tags
*/bin/timelineExample

example-videoRenderer/bin/data/renders/
oldExamples/
!libs/openal/libs/win_cb/*.lib
!libs/openal/libs/win_cb/**/*.lib
!libs/sndfile/lib/win_cb/*
=======
#standard gitignore for Flightphase addons

#xcode files
*.mode*
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata/

#builds
build/
obj/
*.o
*.app

#codeblocks files
apps/*/*/*.layout
apps/*/*/*.depend
apps/*/*/bin/clickToLaunch*
apps/*/*/bin/libs
apps/*/*/obj

#VCPP files

*.dll
*.lib
*.exe
*.sdf
*.opensdf
*.exp
*.suo
*.ilk
*.pdb
*.suo

ipch/

#mac files
.DS_Store

#linux files
*modex.so
*modexp64.so
*/*/*.tags
*/bin/timelineExample

example-videoRenderer/bin/data/renders/
oldExamples/
ofxTimelineLib.a
